<%= form_with(model: gmap, local: true) do |form| %>
  <% if gmap.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(gmap.errors.count, "error") %> prohibited this gmap from being saved:</h2>

      <ul>
      <% gmap.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :index %>
    <%= form.text_field :index, id: :gmap_index %>
  </div>

  <div class="field">
    <%= form.label :latitude %>
    <%= form.text_field :latitude, id: :gmap_latitude %>
  </div>

  <div class="field">
    <%= form.label :longitude %>
    <%= form.text_field :longitude, id: :gmap_longitude %>
  </div>

  <div class="field">
    <%= form.label :address %>
    <%= form.text_field :address, id: :gmap_address %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
