<p id="notice"><%= notice %></p>



<div class='sidebar' id="sidebar-left">
  <!-- <table>
    <thead>
      <tr>
        <th>Index</th>
        <th>Latitude</th>
        <th>Longitude</th>
        <!-- <th colspan="3"></th> 
      </tr>
    </thead>

    <tbody>
      <% @gmaps.each do |gmap| %>
        <tr>
          <td><%= gmap.index %></td>
          <td><%= gmap.latitude %></td>
          <td><%= gmap.longitude %></td>
          <!-- <td><%= link_to 'Show', gmap %></td>
          <td><%= link_to 'Edit', edit_gmap_path(gmap) %></td>
          <td><%= link_to 'Destroy', gmap, method: :delete, data: { confirm: 'Are you sure?' } %></td> 
        </tr>
      <% end %>
    </tbody>
  </table> -->
  <div class="container-fluid">
    <h3>Devices:</h3>
    <div class="row">
      <strong>
        <div class="col-md-2">ID</div>
        <div class="col-md-3">Lat.</div>
        <div class="col-md-3">Lon.</div>
        <div class="col-md-4">Status</div>
      </strong>
    </div>
    <% @gmaps.each do |gmap| %>
      <%= link_to edit_gmap_path(gmap) do %>
        <div class="row the-device">
          <div class="col-md-2"><%= gmap.index %></div>
          <div class="col-md-3"><%= gmap.latitude %></div>
          <div class="col-md-3"><%= gmap.longitude %></div>
          <div class="col-md-4">
            <% if gmap.status == 1 %>
              <%= '-' %>
            <% elsif gmap.status == 2 %>
              <%= 'Whale detected' %>
            <% elsif gmap.status == 3 %>
              <%= 'Dolphin detected' %>
            <% elsif gmap.status == 4 %>
              <%= 'Ship detected' %>
            <% end %>
          </div>
        </div>
      <% end %>
    <% end %>
    <br>
    <%= link_to new_gmap_path do %>
      <button class="btn btn-md btn-info">Add new device</button>
    <% end %>
  </div>
</div>

<div id="map">MAP HERE</div>

<!-- <div id="map-topbar"></div> -->

<!-- <div class='sidebar' id="sidebar-right">
  <div class="container-fluid">
    <h2>Selected device:</h2>
    <div class="row">
        <div class="col-md-5"><strong>Index: </strong></div>
        <div class="col-md-7"><span id='index-val'>0</span></div>
    </div>
    <div class="row">
        <div class="col-md-5"><strong>Latitude: </strong></div>
        <div class="col-md-7"><span id='lat-val'>0.0</span></div>
    </div>
    <div class="row">
        <div class="col-md-5"><strong>Longitude: </strong></div>
        <div class="col-md-7"><span id='lon-val'>0.0</span></div>
    </div>
</div> -->

<script type="text/javascript">
  $(document).ready(function()
  {
    var mapStyle = [{"featureType":"administrative","elementType":"labels.text.fill","stylers":[{"color":"#444444"}]},{"featureType":"landscape","elementType":"all","stylers":[{"color":"#f2f2f2"}]},{"featureType":"poi","elementType":"all","stylers":[{"visibility":"off"}]},{"featureType":"road","elementType":"all","stylers":[{"saturation":-100},{"lightness":45}]},{"featureType":"road.highway","elementType":"all","stylers":[{"visibility":"simplified"}]},{"featureType":"road.arterial","elementType":"labels.icon","stylers":[{"visibility":"off"}]},{"featureType":"transit","elementType":"all","stylers":[{"visibility":"off"}]},{"featureType":"water","elementType":"all","stylers":[{"color":"#46bcec"},{"visibility":"on"}]}];

    var data = <%= raw @hash.to_json %>;
    var markers = [];

    $('#index-val').html(data.length);
    for (var i = 0; i < data.length; i++) {
      marker = new google.maps.Marker(data[i]);

      marker.addListener('click', function() {
          alert("yoo");
          // var idx = marker.myindex;
          var lat = marker.latitude;
          var lon = marker.longitude;
          // $('#index-val').html(idx);
          $('#lat-val').html(lat);
          $('#lon-val').html(lon);
          
        });

      markers.push(marker);
    };

    handler = Gmaps.build('Google');
    handler.buildMap({ 
      provider: {
        styles: mapStyle
      },
      internal: {id: 'map'}}, function(){
        handler.bounds.extendWith(handler.addMarkers(markers));
        handler.fitMapToBounds();
      });
  });
</script>
