<p id="notice"><%= notice %></p>



<div class='sidebar' id="sidebar-left">
  <!-- <table>
    <thead>
      <tr>
        <th>Index</th>
        <th>Latitude</th>
        <th>Longitude</th>
        <!-- <th colspan="3"></th> 
      </tr>
    </thead>

    <tbody>
      <% @gmaps.each do |gmap| %>
        <tr>
          <td><%= gmap.index %></td>
          <td><%= gmap.latitude %></td>
          <td><%= gmap.longitude %></td>
          <!-- <td><%= link_to 'Show', gmap %></td>
          <td><%= link_to 'Edit', edit_gmap_path(gmap) %></td>
          <td><%= link_to 'Destroy', gmap, method: :delete, data: { confirm: 'Are you sure?' } %></td> 
        </tr>
      <% end %>
    </tbody>
  </table> -->
  <br>
  <div class="container-fluid">
    <div class="row">
      <strong>
        <div class="col-md-3">Index</div>
        <div class="col-md-4">Lat.</div>
        <div class="col-md-5">Lon.</div>
      </strong>
    </div>
    <% @gmaps.each do |gmap| %>
      <%= link_to edit_gmap_path(gmap) do %>
        <div class="row the-device">
          <div class="col-md-3"><%= gmap.index %></div>
          <div class="col-md-4"><%= gmap.latitude %></div>
          <div class="col-md-5"><%= gmap.longitude %></div>
        </div>
      <% end %>
    <% end %>
    <br>
    <%= link_to new_gmap_path do %>
      <button class="btn btn-md btn-success">Add new device</button>
    <% end %>
  </div>
</div>

<div id="map">MAP HERE</div>

<!-- <div id="map-topbar"></div> -->

<!-- <div class='sidebar' id="sidebar-right">
  <div class="container-fluid">
    <h2>Selected device:</h2>
    <div class="row">
        <div class="col-md-5"><strong>Index: </strong></div>
        <div class="col-md-7"><span id='index-val'>0</span></div>
    </div>
    <div class="row">
        <div class="col-md-5"><strong>Latitude: </strong></div>
        <div class="col-md-7"><span id='lat-val'>0.0</span></div>
    </div>
    <div class="row">
        <div class="col-md-5"><strong>Longitude: </strong></div>
        <div class="col-md-7"><span id='lon-val'>0.0</span></div>
    </div>
</div> -->

<script type="text/javascript">
  $(document).ready(function()
  {
    var mapStyle = [{"featureType":"landscape","stylers":[{"hue":"#FFA800"},{"saturation":0},{"lightness":0},{"gamma":1}]},{"featureType":"road.highway","stylers":[{"hue":"#53FF00"},{"saturation":-73},{"lightness":40},{"gamma":1}]},{"featureType":"road.arterial","stylers":[{"hue":"#FBFF00"},{"saturation":0},{"lightness":0},{"gamma":1}]},{"featureType":"road.local","stylers":[{"hue":"#00FFFD"},{"saturation":0},{"lightness":30},{"gamma":1}]},{"featureType":"water","stylers":[{"hue":"#00BFFF"},{"saturation":6},{"lightness":8},{"gamma":1}]},{"featureType":"poi","stylers":[{"hue":"#679714"},{"saturation":33.4},{"lightness":-25.4},{"gamma":1}]}];

    var data = <%= raw @hash.to_json %>;
    var markers = [];

    $('#index-val').html(data.length);
    for (var i = 0; i < data.length; i++) {
      marker = new google.maps.Marker(data[i]);

      marker.addListener('click', function() {
          alert("yoo");
          // var idx = marker.myindex;
          var lat = marker.latitude;
          var lon = marker.longitude;
          // $('#index-val').html(idx);
          $('#lat-val').html(lat);
          $('#lon-val').html(lon);
          
        });

      markers.push(marker);
    };

    handler = Gmaps.build('Google');
    handler.buildMap({ 
      provider: {
        styles: mapStyle
      },
      internal: {id: 'map'}}, function(){
        handler.bounds.extendWith(handler.addMarkers(markers));
        handler.fitMapToBounds();
      });
  });
</script>
