<p id="notice"><%= notice %></p>

<p>
  <strong>Index:</strong>
  <%= @gmap.index %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @gmap.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @gmap.longitude %>
</p>

<p>
  <strong>Ship detected:</strong>
  <%= @gmap.ship_detected %>
</p>

<p>
  <strong>Address:</strong>
  <%= @gmap.address %>
</p>

<%= link_to 'Edit', edit_gmap_path(@gmap) %> |
<%= link_to 'Back', gmaps_path %>
